.wishlist-panel{
    position: absolute;
    left: -1185px;
    top: 100%;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #00000079;
    backdrop-filter: blur(5px);
}

.wishlist-panel__wrapper{
    position: absolute;
    right:444px;
    max-width: 500px;
    max-height: 600px;
    background-color: #fff;
    border: 1px solid #bababa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    gap: 20px;

    .wishlist-panel__content{
        display: flex;
        align-items: center;
        gap: 15px;

        a{
            font-weight: 600;
            font-size: 24px;
            color: #000;
            font-family: "Inter", sans-serif !important;
        }

        .wishlist-panel__content-icon{
            font-size: 24px;
            font-weight: 600;
        }
    }
}

.wishlist-panel__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .wishlist__card {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a{
            text-decoration: none;
            color: #000;
            font-family: "Inter", sans-serif !important;
            font-weight: 500;
        }

        &:hover img {
            border: 1px solid #1e90ff;
        }

        img {
            width: 205px;
            height: 205px;
            border: 1px solid #fff;
            object-fit: contain;
        }

        .wishlist__card-content{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .wishlist__card-title{
            max-width: 200px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        &:hover .wishlist__card-title{
            color: #1e90ff;
            text-decoration: underline #1e90ff;
        }

        .wishlist__card-icon{
            cursor: pointer;
            color: red;
        }
    }
}