.container{
    max-width: 1248px;
    margin: 0 auto;

    &--hero{
        max-width: 1312px;
    }

    &--category{
        max-width: 1000px;
    }

    &--auth{
        max-width: 355px;
    }

    &--features{
        max-width: 1300px;
    }
}